@import url('../../css/reset.css');
@import url('./comment.css');

/* button */
.btn {
  margin: 0 3px;
  padding: 5px 15px;
  color: #fff;
  background-color: #000;
  font-size: 1.05rem;
  font-weight: 600;
  border-radius: 5px;
}

.cancel {
  color: #000;
  background-color: #e9ecef;
}

/* textarea */
.textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1.05rem;
  font-family: sans-serif;
  outline: none;
}

/* modal */
.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: 600;
}

.modal > .message {
  margin: 0 3px 1rem 3px;
  line-height: 1.7;
}

/* all */
.hidden {
  display: none;
}

/* post */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.box {
  max-width: 720px;
  width: 100%;
  padding: 0 1.5rem;
}

.post-box {
  margin-top: 10rem;
}

.post-title {
  font-size: 3rem;
  padding: 3rem 0;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 1.25rem 0;
}

.post-owner-info {
  display: flex;
  align-items: center;
}

.post-owner-info > .writer {
  padding-left: 1rem;
}

.post-info > .date {
  color: #8c8c8c;
}

.btn-box {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.btn-box > button {
  padding: 0 0.5rem;
}

.btn-box > .ended.active::after {
  content: ' 취소';
}

.post-filter {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 2px solid #dcdcdc;
  font-size: 1.25rem;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.filter-list li {
  margin: 3px;
  padding: 0.5rem 0.75rem;
  background: #dce2f0;
  border: 2px solid #dce2f0;
  border-radius: 58px;
}

.post-content {
  margin: 5rem 0;
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: -0.004em;
}

.post-content > div > p {
  margin-top: 1rem;
  font-size: 1.125rem;
  word-break: break-all;
  line-height: 1.7;
}
