/* tmp property for post */

textarea {
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0;
}
