@import url('./temp.css');

.comment {
  max-width: 40rem;
  padding: 0 1.5rem;
  width: 100%;
}

.comment-input {
  margin-bottom: 30px;
}

.comment-input__area {
  width: 100%;
  height: 100px;
  padding: 15px;
  font-size: 1.05rem;
  margin-bottom: 10px;
  outline: none;
}

.comment-input-button {
  padding: 6px 15px;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
}

.comment-item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e9ecef;
}

.comment-item__header {
  display: flex;
  justify-content: space-between;
}

.comment-item__info {
  display: grid;
  grid-template-columns: 3rem max-content;
  grid-template-rows: repeat(2, 1.5rem);
  column-gap: 1rem;
  align-items: center;
}

.info-item:first-child {
  grid-row: 1 / -1;
}

.info__image {
  width: 100%;
  box-shadow: 0 0 8px rgb(0 0 0 / 9%);
  border-radius: 50%;
}

.comment-item__button {
  display: flex;
}

.comment-item__button button {
  padding: 0 0.5rem;
}

.comment-item__content {
  font-size: 1.05rem;
  margin: 1em 0;
  font-weight: 400;
  line-height: 1.5;
}
