/* tmp property for comment */
body {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

textarea {
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0;
}
